<div
  *ngFor="let asset of daysArray; let indexOfelement = index"
  class="asset-timeline"
  [ngClass]="'asset-timeline-' + indexOfelement"
>
  <div class="asset-identifier">
    <div>Asset: {{ asset.name }}.</div>
    <div>Period: {{ getPeriod(asset) }}</div>
  </div>
  <div class="timeline"></div>

  <div
    *ngFor="let day of asset.days"
    class="asset-timeline-action"
    [class.action]="day?.type === 'action'"
    [class.milestone]="day?.type === 'milestone'"
  >
    <ng-container *ngIf="day?.action">
      <span class="action-label-date">
        {{ day.date.format('MMM Do, YYYY') }}
      </span>
      <div class="action-label">
        {{ day?.type === 'milestone' ? day.date : day.action }}
      </div>
      <div class="action-timeline-line-to-dot"></div>
      <div class="action-timeline-dot"></div>
    </ng-container>
  </div>
</div>
