$actionTimelineDotOffeset: 4px;
$blackColor: #000;
$whiteColor: #fff;

//mixins
@mixin border-radius {
  border-radius: 20px;
}
// Timeline line
.timeline {
  height: 8px;
  width: calc(100vw - 80px);
  background: #000;
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 0;
  transform: translateY(-4px);
}

//asset timeline
.asset-timeline-wrap {
  --timeline-height: 172px;
  --line-to-dot: 28px;
  --label-date-line-height: 1.34rem;
  --date-height: 25px;

  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #555;
  padding: 0 35px 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: var(--timeline-height);
  position: relative;
  margin-bottom: 2px;

  .asset-identifier {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: 8px 8px 8px 0;
    gap: 1rem;
    align-items: center;
    border: 2px solid var(--bgcolor);
    width: fit-content;
    @include border-radius();
    > div {
      padding: 1px 10px 1px 1px;
      display: flex;
      margin-right: 3px;
      border-radius: 20px;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      font-size: 0.9rem;
      .dot {
        background: var(--bgcolor);
        width: 18px;
        height: 18px;
        @include border-radius;
        border: 3px solid #fff;
      }
    }
  }
  .asset-timeline {
    display: flex;
    flex-direction: column;
  }
  .asset-timeline-action.emptyDay {
    min-width: 0.01vw;
    max-width: 0.01vw;
    height: 80px;
  }

  .milestone {
    flex: 0;
  }
  .milestone:first-of-type {
    margin-left: -2px;
    position: sticky;
    left: 0px;
    margin-right: 10px;
  }
  .milestone:last-of-type {
    margin-right: -4px;
    margin-left: 100px;
    position: sticky;
    right: 40px;
  }

  .milestone {
    transform: translateY(-1px);
    flex-direction: column-reverse;
    align-self: flex-start;
  }

  .day {
    display: flex;
    flex-direction: column;
  }
  .rows-wrapper {
    position: relative;
  }

  .day-wrapper {
    display: flex;
    height: inherit;
    min-height: var(--timeline-height);
    width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .asset-timeline-action {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    height: inherit;
    z-index: 1;
    .action-timeline-dot,
    .action-timeline-line-to-dot {
      display: none;
    }
    // Shared for all date elements
    .action-label-date {
      white-space: nowrap;
      line-height: 1.34rem;
      height: var(--date-height);
    }

    &.milestone {
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
      width: auto;
      .action-label {
        color: $whiteColor;
        background: $blackColor;
        border: 3px solid #fff;
        font-size: 0.8rem;
        @include border-radius;
        padding: 5px 12px;
        white-space: nowrap;
        text-align: center;
        min-width: 60px;
      }
      .action-label-date {
        height: 0;
        position: absolute;
        top: -18px;
      }
    }
    &.action {
      height: 100%;
      font-size: 0.9rem;
      width: auto;
      min-width: 100px;

      .action-timeline-dot-wrap {
        .action-timeline-dot {
          display: block;
          border-radius: 100%;
          width: 18px;
          height: 18px;
          position: relative;
          z-index: 1;
          background: var(--bgcolor);
          border: 3px solid $whiteColor;
          margin: -3px;
        }
      }

      .action-timeline-line-to-dot {
        display: block;
        position: relative;
        //height: 10.5%; // controls space from dot to action label
        height: var(--line-to-dot);
        width: 4px;
        background: var(--bgcolor);
        z-index: 10;
      }
      .action-label-date {
        display: block;
        height: var(--label-date-line-height);
      }

      .action-label {
        @include border-radius;

        background: var(--bgcolor);
        padding: 6px 15px;
        white-space: nowrap;
        width: auto;
        min-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    span {
      line-height: var(--label-date-line-height);
      font-size: 13px;
    }

    &.action {
      flex-direction: column-reverse;
      margin-top: auto;
    }
    &:nth-child(odd of .action) {
      margin-top: 0;
      flex-direction: column;
    }
  }
  &.asset-timeline-0 {
    --bgcolor: rgb(182, 172, 201);
  }
  &.asset-timeline-1 {
    --bgcolor: rgb(255, 135, 135);
  }

  &.asset-timeline-2 {
    --bgcolor: rgb(176, 243, 131);
  }

  &.asset-timeline-3 {
    --bgcolor: rgb(155, 240, 255);
  }
}
