<ng-container
  *ngFor="let asset of daysArray; let indexOfelement = index"
  [ngTemplateOutlet]="assetTimelineFrame"
  [ngTemplateOutletContext]="{ asset: asset, indexOfelement: indexOfelement }"
>
</ng-container>

<ng-template
  #assetTimelineFrame
  let-asset="asset"
  let-indexOfelement="indexOfelement"
>
  <div class="asset-timeline" [ngClass]="'asset-timeline-' + indexOfelement">
    <div class="asset-identifier">
      <div>Asset: {{ asset.name }}.</div>
      <div>Period: {{ getPeriod(asset) }}</div>
    </div>

    <!-- Can become component -->
    <ng-container
      [ngTemplateOutlet]="timeline"
      [ngTemplateOutletContext]="{
        asset: asset,
        indexOfelement: indexOfelement
      }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #timeline let-asset="asset" let-indexOfelement="indexOfelement">
  <!-- odd -->
  <div class="rows-wrapper">
    <div class="odd-wrap">
      <div
        class="asset-timeline-action odd"
        *ngFor="let action of asset.days.odd"
        [class.action]="action?.action && !action?.type"
        [class.emptyDay]="!action"
        [class.milestone]="action?.type === 'milestone'"
      >
        <ng-container *ngIf="action; else emptyRowAction">
          <span class="action-label-date">
            {{ action.date.format('MMM Do, YYYY') }}
          </span>
          <div class="action-label">
            {{ action.action }}
          </div>
          <div class="action-timeline-line-to-dot"></div>

          <div class="action-timeline-dot-wrap">
            <div class="action-timeline-dot"></div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="timeline"></div>

    <!-- .even -->
    <div class="even-wrap">
      <div
        class="asset-timeline-action even"
        *ngFor="let action of asset.days.even"
        [class.action]="action?.action && !action?.type"
        [class.emptyDay]="!action"
        [class.milestone]="action?.type === 'milestone'"
      >
        <ng-container *ngIf="action; else emptyRowAction">
          <span class="action-label-date">
            {{ action.date.format('MMM Do, YYYY') }}
          </span>
          <div class="action-label">
            {{ action.action }}
          </div>
          <div class="action-timeline-line-to-dot"></div>
          <div class="action-timeline-dot-wrap">
            <div class="action-timeline-dot"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #emptyRowAction>
    <div class="emptyDay asset-timeline-action"></div>
  </ng-template>
</ng-template>
