$actionTimelineDotOffeset: 4px;
$blackColor: #000;
$whiteColor: #fff;

//mixins
@mixin border-radius {
  border-radius: 20px;
}

// Timeline line
.timeline {
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 0;
}

//asset timeline
.asset-timeline {
  background: #ccc;
  padding: 35px 35px 35px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  min-height: 160px;
  position: relative;
  margin-bottom: 2px;

  .asset-identifier {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: 8px;
    > div {
      padding: 3px;
      margin-right: 3px;
      background: #fff;
      @include border-radius;
    }
  }
  .emptyDay {
    width: 1px;
    height: 80px;
  }

  .asset-timeline-empty-day {
    height: 1px;
    width: 1px;
    background: red;
  }

  .day {
    display: flex;
    flex-direction: column;
  }
  .rows-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .odd-wrap,
  .even-wrap {
    display: flex;
    height: inherit;
    width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
  }
  .action.odd {
    transform: translateY(11px);
  }
  .action.even {
    transform: translateY(-9px);
  }

  .asset-timeline-action.odd {
    flex-direction: column-reverse;
  }
  .asset-timeline-action.even {
    flex-direction: column;
  }

  .milestone {
    flex: 0;
  }
  .milestone:first-of-type {
    margin-left: 0;
  }
  .milestone:last-of-type {
    margin-right: 0;
  }

  .even-wrap {
    .milestone {
      transform: translateY(-14px);
      flex-direction: column-reverse;
      align-self: flex-start;
    }
  }

  .odd-wrap {
    .milestone {
      transform: translateY(14px);
    }
  }
  .asset-timeline-action.odd,
  .asset-timeline-action.even {
    display: flex;
    align-items: center;
    position: relative;
    height: inherit;
    z-index: 1;
    .action-timeline-dot,
    .action-timeline-line-to-dot {
      display: none;
    }

    &.milestone {
      width: auto;
      /*margin-left: 0;
      position: relative;
      left: 0;
      margin-top: auto;
      margin-bottom: auto;
      flex: 0; */
      .action-label {
        color: $whiteColor;
        background: $blackColor;
        border: 2px solid #fff;
        font-size: 0.8rem;
      }
      .action-label-date {
        height: 0;
        position: absolute;
        padding: 0px 0;
        white-space: nowrap;
      }
    }
    &.action {
      height: 100%;

      .action-timeline-dot-wrap {
        .action-timeline-dot {
          display: block;
          border-radius: 100%;
          width: 15px;
          height: 15px;
          position: relative;
          background: var(--bgcolor);
          border: 3px solid $whiteColor;
        }
      }

      .action-timeline-line-to-dot {
        display: block;
        position: relative;
        //height: 10.5%; // controls space from dot to action label
        height: 20px;
        width: 2px;
        background: var(--bgcolor);
      }
      .action-label-date {
        display: block;
      }
    }

    span {
      padding: 5px;
      font-size: 13px;
    }
    .action-label {
      @include border-radius;

      background: var(--bgcolor);
      padding: 5px 12px;
      white-space: nowrap;
    }

    /*    &.action {
      flex-direction: column-reverse;
    }
    &:nth-child(odd of .action) {
      flex-direction: column;
    }
*/
  }
  .odd-wrap .action {
    flex-direction: column;
  }
  .even-wrap .action {
    flex-direction: column-reverse;
  }

  &.asset-timeline-0 {
    --bgcolor: rgb(158, 109, 250);
  }
  &.asset-timeline-1 {
    --bgcolor: rgb(255, 135, 135);
  }

  &.asset-timeline-2 {
    --bgcolor: rgb(176, 243, 131);
  }

  &.asset-timeline-3 {
    --bgcolor: rgb(155, 240, 255);
  }
}
