<div
  *ngFor="let asset of assets; let indexOfelement = index"
  class="asset-timeline"
  [ngClass]="'asset-timeline-' + indexOfelement"
>
  <span class="asset-identifier">
    <div>Asset: {{ asset.name }}.</div>
    <div>
      Period: {{ assetRows[indexOfelement].firstDate.format('MMM Do YY') }} -
      {{ assetRows[indexOfelement].lastDate.format('MMM Do YY') }}
    </div>
  </span>
  <div class="timeline"></div>

  <div
    *ngFor="let action of asset.actions"
    class="asset-timeline-action"
    [style.width]="assetRows[indexOfelement].sizeOfEachAction + '%'"
  >
    <span>{{ action.date.format('MMM Do, YYYY') }}</span>
    <div class="action-label">
      {{ action.action }}
    </div>
    <div class="action-timeline-line-to-dot"></div>
    <div class="action-timeline-dot"></div>
  </div>
</div>

{{ fullTimelineLength }}
